<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Express movie</title>
    <link rel="stylesheet" href="../public/style.css">
</head>

<body>
    <div class="central">
        <%- include ./partials/header %>

            <h1>
                <%= title %>
            </h1>
            <div class="french-movies">
                <%
                for (movie of movies) {   %>
                    <div><a href="/movie-details/<%= movie._id %>"><%= movie.title  %> (<%= movie.year %>)</a></div>

                    <%  }   %>

            </div>
                <br>
                <div>   
                    <form action="/movies" method="post">
                    <label for="movieTitle">Titre du film</label>
                    <input type="text" name="movieTitle" id="movieTitle">
                    <label for="movieYear">année du film</label>
                    <input type="text" name="movieYear" id="movieYear">
                    <button type="submit">Ajouter</button>
                    </form>
                </div>


    </div>
         <%- include ./partials/footer %>

        <script>
        const form = document.querySelector('form');
        form.addEventListener('submit', addMovie);
        function addMovie (event) {
        
            if (window.fetch) {

              addMovieUsingFetch(event);
        
            } else {
                
               addMovieUsingXHR(event); 
            }
        }
        function addMovieUsingFetch(event) {

                event.preventDefault();

                  fetch('/movies', {
                    method: 'POST',
                    body: new FormData(form)
                })
                .then(checkStatus)
                .catch( (error) => { console.error('request failed', error) })

        }

        function checkStatus (response) {
            if(response.status >= 200 && response.status < 300) { 
              let newMovieDiv = document.createElement('div');
              const movieTitle = document.getElementById('movieTitle').value;
              const movieYear = document.getElementById('movieYear').value;
              
             newMovieDiv.innerHTML = `${movieTitle} (${movieYear})`;
             // newMovieDiv.innerHTML =  movieTitle + ' ' + '(' + movieYear + ')';
              console.log(newMovieDiv);
              document.querySelector('.french-movies').appendChild(newMovieDiv);
              form.reset();      
            }  else {
                const error = new Error(response.statusText);
					error.response = response;
					throw error;
            }

        }

			function addMovieUsingXHR(event) {
				// this browser does NOT support fetch. Fall back to XHR
				event.preventDefault();
				console.log('using addMovieUsingXHR()');				
				// https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/send
				var xhr = new XMLHttpRequest();
				xhr.open("POST", '/movies-old-browser', true);
				//Send the proper header information along with the request
				xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
				xhr.onreadystatechange = function() {//Call a function when the state changes.
					if(xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200) {
						form.reset();
					}
				}
				// https://developer.mozilla.org/en-US/docs/Web/API/FormData/Using_FormData_Objects
				console.log('form: ', form);
				var movieTitle = document.getElementById('movieTitle').value;
				var movieYear = document.getElementById('movieYear').value;
				var payLoad = "movieTitle=" + movieTitle + "&" + "movieYear=" + movieYear; 
				xhr.send(payLoad); 				
			}
        </script>
</body>

</html>